body {
  background: #0a0a0a;
}

.heading {
  color: white;
  text-align: center;
}

.heading-search-text {
  color: coral;
}

.sub-heading {
  color: #343434;
  text-align: center;
}

.app-icon-wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
}
