.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.card-img {
  min-height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

p {
  color: white;
}

.movie-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  border: 2px solid coral;
  box-shadow:
    0 0 10px rgba(255, 159, 67, 0.7),
    0 0 30px rgba(255, 129, 67, 0.4),
    0 0 60px rgba(255, 129, 67, 0.2);
  cursor: pointer;
}

.trend-movie-heading {
  color: white;
}

.results {
  color: white;
  margin-left: 20px;
}

.results span {
  color: coral;
}
